<a href="https://colab.research.google.com/github/rabbi123080/Machine-Learning-Based-Models-for-Predicting-Autism-Spectrum-Disorders/blob/main/Autism_BIM21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/csv_result-Autism-Adolescent-Data.csv")
df.head()
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df.head()

   A1_Score  A2_Score  A3_Score  A4_Score  ...  gender  jundice  austim  Class/ASD
0         0         0         0         1  ...       1        1       1          0
1         0         0         0         0  ...       1        0       0          0
2         0         0         0         0  ...       0        0       0          0
3         0         1         1         1  ...       0        0       0          1
4         1         1         1         1  ...       0        0       0          1

[5 rows x 15 columns]

In [ ]:
df.corr()

           A1_Score      A2_Score  A3_Score  ...   jundice    austim  Class/ASD
A1_Score   1.000000  1.772823e-01 -0.031546  ...  0.018487  0.175882   0.175731
A2_Score   0.177282  1.000000e+00  0.096679  ...  0.074020  0.139104   0.200381
A3_Score  -0.031546  9.667882e-02  1.000000  ... -0.025854 -0.068327   0.488349
A4_Score  -0.111189  1.135275e-01  0.321199  ... -0.013445 -0.050930   0.506677
A5_Score   0.200250  8.901588e-17  0.140028  ...  0.123091  0.032530   0.533919
A6_Score   0.027705  4.225771e-02  0.369006  ... -0.019462  0.015430   0.445450
A7_Score  -0.106800  1.900524e-01  0.230268  ...  0.036927  0.097590   0.326410
A8_Score  -0.078834 -1.768819e-01  0.131023  ... -0.046351  0.080178   0.413770
A9_Score  -0.048997  3.996224e-02  0.315969  ...  0.025098  0.066328   0.401178
A10_Score  0.059586 -1.060348e-01  0.192810  ...  0.030163 -0.009110   0.488349
age       -0.099884  5.483639e-02 -0.027740  ...  0.099281 -0.087689   0.106816
gender    -0.066750  1.573872e-01  0.012447  ...  0.123091 -0.097590  -0.129504
jundice    0.018487  7.401957e-02 -0.025854  ...  1.000000  0.222231  -0.037755
austim     0.175882  1.391041e-01 -0.068327  ...  0.222231  1.000000  -0.027715
Class/ASD  0.175731  2.003813e-01  0.488349  ... -0.037755 -0.027715   1.000000

[15 rows x 15 columns]

In [ ]:
X=df.drop('Class/ASD',axis=1)
y=df['Class/ASD']

In [ ]:
#X=df.drop(['Class','Age_Mons', 'Sex','Family_mem_with_ASD'], axis=1)
#y=df['Class']

In [ ]:
from collections import Counter
from imblearn.over_sampling import RandomOverSampler
counter = Counter(y)
print(counter)

Counter({1: 63, 0: 41})

In [ ]:
over = RandomOverSampler()
X, y = over.fit_resample(X, y)
counter = Counter(y)
print(counter)

Counter({0: 63, 1: 63})

In [ ]:
# Spiliting the dataset into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = None)

In [ ]:
#pip install xgboost

In [ ]:
#pip install lightgbm

In [ ]:
#pip install catboost

In [ ]:
# Feature Scaling
from sklearn.preprocessing import QuantileTransformer
sc_X = QuantileTransformer()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [ ]:
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
rfc = CatBoostClassifier(verbose=0)
rfc.fit(X_train, y_train)

In [ ]:
rfc_pred = rfc.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, rfc_pred))
print(classification_report(y_test, rfc_pred))

[[12  1]
 [ 2 11]]
              precision    recall  f1-score   support

           0       0.86      0.92      0.89        13
           1       0.92      0.85      0.88        13

    accuracy                           0.88        26
   macro avg       0.89      0.88      0.88        26
weighted avg       0.89      0.88      0.88        26

In [ ]:
from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_test, rfc_pred))

0.7715167498104596

In [ ]:
from sklearn.metrics import cohen_kappa_score
print(cohen_kappa_score(y_test, rfc_pred))

0.7692307692307692

In [ ]:
from sklearn.metrics import log_loss
print(log_loss(y_test, rfc_pred))

3.9852741839293175

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
kfold = KFold(n_splits=10, random_state=None, shuffle=True)
results = cross_val_score(rfc, X, y, cv=kfold, scoring='accuracy')
print(results)
print("\nAccuracy: %.2f%%" % (results.mean()*100.0))
roc_auc = cross_val_score(rfc, X, y, cv=kfold, scoring='roc_auc')
print('\n')
print(roc_auc)
print("\nROC_AUC: %.2f%%" % (roc_auc.mean()*100.0))
f1 = cross_val_score(rfc, X, y, cv=kfold, scoring='f1')
print('\n')
print(f1)
print("\n F1: %.2f%%" % (f1.mean()*100.0))
precision = cross_val_score(rfc, X, y, cv=kfold, scoring='precision')
print('\n')
print(precision)
print("\n Precision: %.2f%%" % (precision.mean()*100.0))
recall_score = cross_val_score(rfc, X, y, cv=kfold, scoring='recall')
print('\n')
print(recall_score)
print("\n Recall: %.2f%%" % (recall_score.mean()*100.0))

[0.84615385 1.         0.76923077 0.84615385 1.         1.
 0.91666667 0.75       1.         0.91666667]

Accuracy: 90.45%


[1.         1.         0.975      1.         1.         1.
 1.         0.96875    1.         0.96296296]

ROC_AUC: 99.07%


[1.         0.93333333 0.8        0.90909091 0.94117647 0.92307692
 1.         0.92307692 0.875      1.        ]

 F1: 93.05%


[0.8        1.         0.85714286 1.         1.         0.8
 1.         1.         1.         0.875     ]

 Precision: 93.32%